<div class="container-fluid  header">
	<nav class="navbar navbar-expand-lg navbar-light header">
		<%=link_to feedbacks_path do %>
		  <span class="fa fa-home"></span>
		<%end%>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="#">Feedbacks</a>
	      </li>
	    </ul>
	  </div>
	</nav>
</div>

 