<div class="container">
 
	  <nav class="navbar navbar-light bg-light">
			<%=link_to '#', "data-toggle"=>"modal", "data-target" => "#new",:class=>'btn btn-warning navbar-brand ml-auto' do %>
				<i>Create new feedback</i>
			<%end%>
		</nav>
		<div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Create Feedback</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <%= form_for :feedback,method: :post,url: feedbacks_path,:html=>{id:"new_feedback"} do |f| %>
			      <div class="modal-body">
			        <div>   
	        			<%= render :partial => "form", :locals =>{:f=>f} %>
	      			</div>   
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			         <%=f.submit 'Create' ,:class=>'btn btn-success'%>
			      </div>
			    <%end %>
		    </div>
		  </div>
		</div>
	 

	<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
	<div class="row">
		 
			<table class="table table-bordered table-hover" id="new-table">
				<thead>
		      <tr>
		          
		        <th>Heading</th>
		         <th>Heading</th>
		        <th>Heading</th>
		         <th>Heading</th>
		        <th>Heading</th>
		         <th>Heading</th>
		        <th>Heading</th> 
		        <th>Heading</th>
		        <th>Heading</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        
		        <td>Cell</td>
		        <td>Cell</td>
		        <td>Cell</td>
		        <td>Cell</td>
		        <td>Cell</td>
		        <td>Use .table-responsive{-sm|-md|-lg|-xl} classes as needed to create responsive tables up to a particular breakpoint. From that breakpoint and up, the table will behave normally and not scroll horizontally. Use .table-responsive{-sm|-md|-lg|-xl} classes as needed to create responsive tables up to a particular breakpoint. From that breakpoint and up, the table will behave normally and not scroll horizontally.</td>
		        <td>Cell</td>
		        <td>Cell</td>
		        <td>Cell</td>
		      </tr>
		      <tr>
		      
		        <td>Cell</td>
		        <td>Cell</td>
		        <td>Cell</td>
		        <td>Cell</td>
		        <td>Cell</td>
		        <td>Cell</td>
		        <td>Cell</td>
		        <td>Cell</td>
		        <td>Cell</td>
		      </tr>
		      
		    </tbody>
		  </table>
	 
	</div>

	 
	 
</div>